@page
@using Kidoo.Learn.Localization
@using Kidoo.Learn.Permissions
@using Kidoo.Learn.Web.Pages.Dashboard
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@inject IPageLayout PageLayout
@inject IStringLocalizer<LearnResource> L
@inject IAuthorizationService AuthorizationService
@model Kidoo.Learn.Web.Pages.Courses.IndexModel
@{
    PageLayout.Content.Title = "Courses";
}

@section scripts{
    <abp-script src="/Pages/Courses/Index.js" />
}

<abp-card>
    <abp-card-header>
        <h2>@L["Courses"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="CoursesTable"></abp-table>
    </abp-card-body>
</abp-card>
